<?xml version="1.0" encoding="UTF-8"?>
<organization>
  <name>OGC</name>
  <standard>
    <name>SensorThings API</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/sta10</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-sta10-${version}</local-name>
        <title>SensorThings API Conformance Test Suite</title>
        <description>Assesses conformance of the IUT with respect to OGC 15-078: 
        OGC SensorThings API, Version 0.9.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Final</status>
        <sources>
          <source>sta10/${spec-version}/ctl</source>
        </sources>
        <webdir>sta10/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
