<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Test suite: ets-sta10</title>
    <meta charset="UTF-8" />
    <style type="text/css">
body {
  color: black;
  background: white;
  font-family: Georgia, serif;
}
h1, h2, h3 {
  font-family: Verdana, sans-serif;
  color: #000099;
  text-align: left;
}
h1 {
  font-size: 1.4em;
  margin-top: 2em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
}
table {
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-collapse: collapse;
}
td, th {
  padding: 0.25em;
  border: 1px solid black;
}
caption, figcaption {
  font-weight: bold;
  text-align: left;
  margin: 0.25em;
}
th {
  font-weight: bold;
  font-family: Verdana, sans-serif;
  text-align: left;
  vertical-align: top;
  background: #eeeeee;
  color: #000099;
}
dt {
  margin-top: 0.5em;
  font-weight: bold;
}
    </style>
  </head>
  <body>
  <h1>Test suite: ets-sta10</h1>
	<h2>Scope</h2>
	<p>This executable test suite (ETS) verifies the conformance of the implementation 
	under test (IUT) with respect to the set of relevant specifications depicted in 
	Figure 1. Conformance testing is a kind of "black box" testing that examines 
	externally visible characteristics or behaviors of the IUT and is independent 
	of any implementation details.</p>

	<figure>
	  <img src="./img/specifications.png" alt="Set of relevant specifications"/>
	  <figcaption><p><strong>Figure 1</strong> - Relevant specifications</p></figcaption>
    </figure>

	<p>Several conformance classes are defined in the principal specification:</p>
	<dl>
    <dt>Class A</dt>
    <dd>Capabilities of conformance class A</dd>
    <dt>Class B</dt>
    <dd>Capabilities of conformance class B</dd>
  </dl>

  <h2>Test suite structure</h2>

  <p>The test suite definition file (testng.xml) is located in the root package, 
  <code>org.opengis.cite.sta10</code>. A conformance class corresponds to a &lt;test&gt;
  element; each test element includes a set of test classes that contain the actual 
  test methods. The general structure of the test suite is shown in Table 1.</p>

  <table border="1" style="border-collapse: collapse;">
    <caption>Table 1 - Test suite structure</caption>
    <thead>
      <tr style="background-color:#eeeeee;">
        <th style="width: 35%;">Conformance class</th>
        <th>Test classes</th>
      </tr>
    </thead>
    <tbody>
      <tr style="vertical-align: top;">
        <td>Conformance Level 1</td>
        <td>
          <ul style="list-style: none;">
            <li>org.opengis.cite.sta10.readEntities.Capability1Tests</li>
          </ul>
        </td>
      </tr>
      <tr style="vertical-align: top;">
        <td>Conformance Level 2</td>
        <td>
          <ul style="list-style: none;">
            <li>org.opengis.cite.sta10.publishEntities.Capability2Tests</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <p>The Javadoc documentation provides more detailed information about the test 
  methods that constitute the suite.</p>

	<h2>Test requirements</h2>
	<p>The documents listed below stipulate requirements that must be satisfied 
	by a conforming implementation.</p>
	<ul>
	  <li style="list-style: square;">[WCAG2] <a href="http://www.w3.org/TR/WCAG20/" target="_blank" 
	  type="application/xhtml+xml">Web Content Accessibility Guidelines (WCAG) 2.0</a>
	  </li>
	  <li style="list-style: square;">[XML] <a href="http://www.w3.org/TR/xml/" target="_blank" 
	  type="application/xhtml+xml">Extensible Markup Language (XML) 1.0, Fifth Edition</a>
	  </li>
	</ul>

	<h2>How to run the tests</h2>
	<p>The test suite may be run in any of the following environments:</p>
	<ul>
	  <li style="list-style: square;">Integrated development environment (IDE): The main Java class is <code>
	  TestNGController</code>.</li>
	  <li style="list-style: square;">RESTful API: Submit a request that includes the necessary arguments 
    to the test run controller (/rest/suites/sta10/${project.version}/run).</li>
    <li style="list-style: square;">TEAM-Engine: Run the CTL script located in the <code>/src/main/ctl/</code> 
	  directory.</li>
	</ul>

	<p>The test run arguments are summarized in Table 2. The <em>Obligation</em> 
	descriptor can have the following values: M (mandatory), O (optional), or C 
	(conditional).</p>
	<table border="1" style="border-collapse: collapse;">
	  <caption>Table 2 - Test run arguments</caption>
	  <thead>
      <tr>
        <th>Name</th>
        <th>Value domain</th>
		<th>Obligation</th>
		<th>Description</th>
      </tr>
      </thead>
	  <tbody>
      <tr>
        <td>iut</td>
        <td>URI</td>
		<td>M</td>
		<td>A URI that refers to the implementation under test or metadata about it.
    Ampersand ('&amp;') characters must be percent-encoded as '%26'.</td>
      </tr>
	  <tr>
      <td>ics</td>
      <td>A comma-separated list of string values.</td>
      <td>O</td>
      <td>An implementation conformance statement that indicates which conformance 
      classes or options are supported.</td>
    </tr>
	  </tbody>
    </table>

  </body>
</html>
